# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
test-results/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb~

# pyenv
.python-version

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# Profiling
.prof

# Data, logs
*.log
*.csv
*.tsv
*.sqlite
*.db

# Environment variables
.env
.env.*

# Virtual Environments
venv/
ENV/
env/
.venv/
.ENV/

# MacOS
.DS_Store

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# JetBrains IDEs
.idea/
*.iml

# Local project config
*.local

configs_local
outputs